@font-face {
  font-family: "Heebo";
  font-weight: 400;
  font-display: fallback;
  src: url("/assets/fonts/Heebo.woff2") format("woff2");
}

@font-face {
  font-family: "Heebo";
  font-weight: 700;
  font-display: fallback;
  src: url("/assets/fonts/Heebo.woff2") format("woff2");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: DodgerBlue;
  text-decoration: none;
}

.site-wrapper {
  margin: 0;
  background: white;

  font-family: "Heebo", -apple-system, "Inter", sans-serif;
  letter-spacing: -0.85px;
  line-height: 1.75;
  color: #000;
}

.page-header {
  height: 445px;
  padding-top: 65px;
}

.app-icon {
  width: 95px;
  height: 95px;
  margin: 0 auto 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 20px;
  padding: 19px;
  text-align: center;
}

.app-icon-image {
  height: 60px;
}

.app-name {
  margin-top: 0;
  margin-bottom: -6px;
  font-family: -apple-system, Inter, Heebo, sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1.4px;
}

.app-subtitle {
  font-family: Heebo, sans-serif;
  margin: 0;
  padding: 0 24px;
  margin-bottom: 14px;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.4;
  text-align: center;
}

.site-content {
  position: relative;
  top: -80px;
  margin: 0 auto -138px;
  text-align: center;
}

.app-screenshot {
  width: 100%;
}

.features {
  padding: 0 24px 0 48px;
  margin-bottom: 48px;
  text-align: start;
}

.feature-box {
  margin-bottom: 32px;
}

.feature-box-icon {
  width: 60px;
  margin-bottom: -8px;
}

.feature-box-title,
.feature-box-details {
  margin: 0;
}

.feature-box-title {
  margin-bottom: -6px;
  font-size: 22px;
  font-weight: 700;
}

.feature-box-details {
  font-weight: 400;
  line-height: 1.4;
}

.download-app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
}

.download-app-badge {
  width: 145px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.site-page footer {
  margin-top: 30px;
}

.footer-social-links {
  display: flex;
  gap: 7.5px;
  margin-bottom: 14px;
}

.footer-links {
  text-align: center;
}

.footer-links-item {
  font-size: 17px;
}

.footer-links-item:nth-of-type(2) {
  margin-inline: 12px;
}

.footer-links-item:hover:after {
  background-color: DodgerBlue;
}

@media (min-width: 410px) {
  .download-app-badge {
    width: 175px;
  }

  .site-content {
    top: -105px;
    margin-bottom: -148px;
  }
}

@media (min-width: 768px) {
  .app-screenshot {
    width: 500px;
  }

  .features {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 200px 200px;
    column-gap: 72px;
    justify-content: center;
    align-items: baseline;
    padding-inline-start: 48px;
  }

  .download-app-section {
    flex-direction: row-reverse;
    gap: 16px;
  }

  footer {
    margin-top: unset;
  }
}

@media (min-width: 1024px) {
  .page-header {
    height: unset;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  .site-content {
    top: unset;
    margin-bottom: 32px;
  }

  .app-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .app-screenshot {
    width: 380px;
    margin-inline-end: 48px;
  }

  .features {
    grid-template-columns: 150px 180px;
    padding: unset;
    padding-inline-start: 16px;
  }
}

/* #region link hover styles */
.underline-hovered-link {
  position: relative;
  white-space: nowrap;
}

.underline-hovered-link:after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  position: absolute;
  bottom: -2px;
  z-index: -1;
  transition: 0.2s;
  opacity: 0;
}
.underline-hovered-link:hover:after {
  opacity: 1;
}
/* #endregion */

/** PAGE STYLES **/
.site-page .page-header {
  height: 80px;
  padding-top: 35px;
  margin-bottom: 30px;
}

.site-page .site-content {
  position: static;
  margin: unset;
}

.site-page .site-content {
  text-align: unset;
  padding: 24px 18px 12px 32px;
  margin-bottom: 12px;
}

.site-page-content-title {
  margin: 8px 0 4px;
}

.site-page-content-subtitle {
  margin: 0;
}

.site-page-content-text {
  margin: 0;
  margin-bottom: 8px;
  line-height: 1.6;
  letter-spacing: -0.3px;
}

hr {
  margin-bottom: 12px;
  border-style: dashed;
  opacity: 0.25;
}

.site-page-content-last-updated {
  margin-top: 22px;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: -0.1px;
  opacity: 0.75;
}

footer {
  margin-bottom: max(16px, env(safe-area-inset-bottom));
}

@media (min-width: 620px) {
  .site-page .site-content {
    max-width: 620px;
    margin: 0 auto;
  }

  .site-page-content-title {
    margin-bottom: 8px;
    font-size: 27px;
    text-align: center;
  }

  .site-page-content-subtitle {
    font-size: 23.5px;
  }

  .site-page-content-text,
  li {
    font-size: 18px;
  }

  hr {
    max-width: 700px;
  }
}
