<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>NSPrivacyAccessedAPITypes</key>
<array>
	<dict>
			<key>NSPrivacyAccessedAPICategoryUserDefaults</key>
			<string>The app uses user defaults to save user preferences and settings.</string>
	</dict>
	<dict>
			<key>NSPrivacyAccessedAPICategoryDiskSpace</key>
			<string>The app checks available disk space to ensure smooth operation and to prevent crashes due to insufficient space.</string>
	</dict>
	<dict>
			<key>NSPrivacyAccessedAPICategoryFileTimestamp</key>
			<string>The app accesses file timestamps to provide features like sorting files based on modification dates.</string>
	</dict>
	<dict>
			<key>NSPrivacyAccessedAPICategorySystemBootTime</key>
			<string>The app uses system boot time to track device uptime and to help in scheduling daily tasks efficiently.</string>
	</dict>
</array>
</dict>
</plist>
